*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

*,*:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

@font-face {
    font-family: Sifonn;
    src: url(../fonts/SIFONN_BASIC.otf);
}

body {
    font-family: Sifonn, Arial, Helvetica, sans-serif;
    background-color: #010127;
       /* text-transform: lowercase; hacer que todo sea minuscula  */
}

  /* Acá tengo estilos generales */

  .img-fondo {
    background-image: url("../assets/posadas-portada/portada-guacurari-3.png");
    background-size: cover; 
    min-height: 100%;
  }

.contenedor{
    display:block;
    max-width: 1024px;
    margin: 0 auto;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* video.video-fondo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
} */

/* Acá tengo los estilos del header */

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
} */
  
img {
    width: 15%; 
    height: auto; /* para mantener la proporción de la imagen */
}

/* Acá estan los estilos del Hero */

#hero {
    display: inline-block;
    width: 100%;
    position: relative;
}

#hero .informacion-portada {
    color: white;
    margin-left: 20px;
    padding-top: 70px;
}

.informacion {
    display: block;
    margin-bottom: 20px;
}

.informacion >h1 >strong {
    display: block;
    font-size: 30px;
}

#logo {
    width: 250px;
    display: flex;
    top: 0;
    margin-left: 35px;
    padding-top: 3px;
}

.contenedor-boton {
    display: block;
    margin-bottom: 20px;
}

.boton-contactanos::before,
.boton-contactanos::after {
  box-sizing: border-box;
}
 
.boton-contactanos {
    position: relative;
    overflow: hidden;
    transition: all 500ms ease;
    margin-bottom: 40px;
    z-index: 0;
    cursor: pointer;
  }

  .boton-contactanos::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: rgb(165, 165, 165);
    transition: all 500ms ease;
    z-index: -1;
  }

  .boton-contactanos::before {
    left: -520px;
    right: 0;
    width: 350%;
    height: 150%;
    transition: all 750ms ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px #20e2d7, 0 0 50px #20e2d7, 0 0 60px #20e2d7;
  }
  
  .boton-contactanos:hover::before {
    left: 520px;
  }